orchestrators/DataExtractionStepFunction.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Lambda Invoke (3)",
    "States": {
        "Lambda Invoke (3)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:611483457221:function:email-intent-analyser-lambda:$LATEST",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "Choice"
        },
        "Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "Lambda Invoke",
                    "Condition": "{% $contains($replace($lowercase($states.input.body.filename),/[^a-zA-Z0-9]+/, ''), /acord140/) %}"
                },
                {
                    "Next": "Lambda Invoke (1)",
                    "Condition": "{% $contains($replace($lowercase($states.input.body.filename),/[^a-zA-Z0-9]+/, ''), /acord125/) %}"
                },
                {
                    "Next": "Lambda Invoke (2)",
                    "Condition": "{% $contains($replace($lowercase($states.input.body.filename),/[^a-zA-Z0-9]+/, ''), /lossrun/) %}"
                }
            ]
        },
        "Lambda Invoke": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:611483457221:function:Acord-140-Ingestion:$LATEST",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        },
        "Lambda Invoke (1)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:611483457221:function:Acord-125-Ingestion:$LATEST",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        },
        "Lambda Invoke (2)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:us-east-1:611483457221:function:Loss-Run-Ingestion:$LATEST",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        }
    },
    "QueryLanguage": "JSONata"
}