orchestrators/IdpDocumetOrchestrators.asl.json
{
  "StartAt": "UploadLogging",
  "States": {
    "UploadLogging": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:611483457221:function:idp-upload-logging:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Next": "DocumentClassifier"
    },
    "DocumentClassifier": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:611483457221:function:idp-document-classifier:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $contains($lowercase($states.input.body.document_type),/pdf_with_images_and_text/) %}",
          "Next": "Pdf_With_Image_Ext"
        },
        {
          "Condition": "{% $contains($lowercase($states.input.body.document_type),/image/) %}",
          "Next": "Image_Test"
        },
        {
          "Condition": "{% $contains($lowercase($states.input.body.document_type),/plain_text/) %}",
          "Next": "Plain_Text_Test"
        }
      ],
      "Default": "Unknown_File"
    },
    "Pdf_With_Image_Ext": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:611483457221:function:idp-document-extraction:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    },
    "Image_Test": {
      "Type": "Pass",
      "Output": "{% {'route':'acord125'} %}",
      "End": true
    },
    "Plain_Text_Test": {
      "Type": "Pass",
      "Output": "{% {'route':'lossrun'} %}",
      "End": true
    },
    "Unknown_File": {
      "Type": "Pass",
      "Output": "{% {'route':'unknown'} %}",
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}